<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Image Service</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<div class="container body-content">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="@Url.Action("ImageWeb", "Home")">Image Web</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Config", "Home")">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Photos", "Home")">Photos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Logs", "Home")">Logs</a>
					</li>
				</ul>
			</div>
		</nav>
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Image Service.</p>
			<p>Created by Avi Simson and Yakir Pinchas.</p>
		</footer>
	</div>
</body>
</html>